.BackArrow{
  height: 20px;
  width: 20px;
}
.ql-toolbar.ql-snow {
  border: 1px solid #D0D5DD !important; 
  border-radius: 8px !important; 
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.ql-container.ql-snow {
  border: none !important;   /* removes editor border */
}