.body{
    background-color: #FAFAFA;
}

/* @font-face {
  font-family: "DMSans";
  src: url("/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf") format("truetype");
}
@font-face {
  font-family: "satoshi";
  src: url("/fonts/Satoshi_Complete/Fonts/TTF/Satoshi-Variable.ttf") format("truetype");
} */